*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  background: #15171a;
  color: #fff;
  font-family: Montserrat, Cairo, system-ui, sans-serif;
}